.menuColor{
    a{
        text-decoration: none;
        font-size:1.2rem;
        font-weight: 500;
        opacity: 0.75;
    }
    
    a:hover{
        opacity: 1;
        text-shadow: 1px 1px white;
    }
} 